/* Importando fonte personalizada */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Geist Mono', sans-serif; */
    font-family: "Geist Mono", monospace;
}

body {
    background-color: #2e2828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d9d9d9;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

#formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #a9a9a9;
    background-color: #f0f0f0;
    color: #333;
}

input::placeholder {
    color: #777;
    font-size: 16px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(135deg, #665E5E, #4a4646);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #4a4646, #665E5E);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}
